<!DOCTYPE html>
<html lang="en">
<head>
    <title>Day Of Week</title>
</head>
<body>
    <p>
        <em>Day:</em> <%= date%>
    </p>
    <p>
        <em>Day of Week:</em> <%= dayOfWeek%>
    </p>
</body>
</html>